<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" >
    <link rel="stylesheet" href="{% static 'styles/dict.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="icon" href="{% static 'images/igala-logo.png' %}" type="image/x-icon">
    <title>Igala Encyclopedia</title>
</head>
<body>
{% include 'nav.html' %}



{% block content %}

{% endblock content %}


</body>