{% extends 'main.html' %} {% block content %}

<div class="single-word-container">
  {% for meaning in single_words.meanings.all %}
  <div class="single-word">
    <h2>{{ single_words.word }}</h2>
    <i class="fas fa-volume-up volume-icon"></i>
  </div>
  <div class="part-of-speech">{{ meaning.part_of_speech.name }}</div>
  <div class="word-meaning">{{ meaning.meaning }}</div>
  <br>
  <p class="example-heading">Example:</p>
  {% for example in meaning.examples.all %}
  <div class="word-example">
    <p><span class="igala-word">{{ example.igala_example }}</span></p>
    <p>{{ example.english_meaning }}</p>
  </div>
  {% endfor %}
    <br>
    {% if single_words.related_terms %}
      <p class="example-heading">Related terms:</p>
      <p>{{ single_words.related_terms }}</p>
    {% endif %}
  {% endfor %}
</div>
    <!--
    
        <div class="term-card">
            <h2 class="term-title">Omu - Salt (Noun)   <i class="fas fa-volume-up audio-icon"></i> </h2>
            <p class="term-definition"><strong>Example:</strong> 1. symbol of justice, righteousness, and authority; 2. a staff carried by titled men in Igbo society; 3. a sacred object used in rituals.</p>
        </div>
    </div>
    
</section>


<h1>{{ single_words.word }}</h1>
<p>Meaning: {{ single_words.meaning }}</p>
<p>Example: {{ single_words.example }}</p>

<p>Dialects:
    <ul>
        {% for dialect in single_words.dialects.all %}
            <li>{{ dialect.name }}</li>
        {% endfor %}
    </ul>
</p>

<p>Related terms: {{ single_words.related_terms }}</p>
-->
    {% endblock content %}
  </div>
</section>
