{% extends 'main.html' %} {% block content %}

<section class="single-word">
  <div class="single-word-container">
    <!-- First Term -->
    <div class="term-card">
      <h2 class="term-title">
        {{ single_words.word }} -   
        {% if single_words.part_of_speech %}
          ({{ single_words.part_of_speech }}) - 
          <i>{{ single_words.part_of_speech.first.name }}</i>
        {% endif %}
        {{ single_words.meaning }}
        <i class="fas fa-volume-up audio-icon"></i>
      </h2>
      <p class="term-definition">
        <strong>Meaning:</strong> {{ single_words.igala_meaning }}
      </p>
      <br />
    </div>

    <!--
    
        <div class="term-card">
            <h2 class="term-title">Omu - Salt (Noun)   <i class="fas fa-volume-up audio-icon"></i> </h2>
            <p class="term-definition"><strong>Example:</strong> 1. symbol of justice, righteousness, and authority; 2. a staff carried by titled men in Igbo society; 3. a sacred object used in rituals.</p>
        </div>
    </div>
    
</section>


<h1>{{ single_words.word }}</h1>
<p>Meaning: {{ single_words.meaning }}</p>
<p>Example: {{ single_words.example }}</p>

<p>Dialects:
    <ul>
        {% for dialect in single_words.dialects.all %}
            <li>{{ dialect.name }}</li>
        {% endfor %}
    </ul>
</p>

<p>Related terms: {{ single_words.related_terms }}</p>
-->
    {% endblock content %}
  </div>
</section>
