{% extends 'main.html' %}

{% block content %}

<section class="hero-texts">
    <h1>The Digital Archive of <span class="make-green">Igala Heritage</span></h1>
    <p>Igala language resource with audio pronunciations, <br> usage examples, word variations, <br> translations, documentaries, histories, and a comprehensive dictionary.</p>
    <a href="https://github.com/Dev-Yusuf/project" class="github-link"><i class="fab fa-github"></i> Contribute</a>
 </section>

<section class="parent-features">
    <div class="features-container">
        <h2 class="section-title">Features</h2>
        <div class="feature-cards">
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-book"></i>
                </div>
                <h3 class="feature-title">Dictionary</h3>
                <p class="feature-description">Explore a vast collection of Igala words and their detailed definitions, all at your fingertips.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-volume-up"></i>
                </div>
                <h3 class="feature-title">Pronunciations </h3>
                <p class="feature-description">Listen to authentic audio pronunciations of Igala words to enhance your language skills.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-comment"></i>
                </div>
                <h3 class="feature-title">Usage Examples</h3>
                <p class="feature-description">Understand the context and usage of Igala words through real-world examples and sentences.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-exchange-alt"></i>
                </div>
                <h3 class="feature-title">Variations</h3>
                <p class="feature-description">Discover variations of Igala words, allowing you to explore nuances in meaning and usage.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-language"></i>
                </div>
                <h3 class="feature-title">Translator</h3>
                <p class="feature-description">Effortlessly translate Igala words or phrases into other languages for clear communication.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-cogs"></i>
                </div>
                <h3 class="feature-title">API</h3>
                <p class="feature-description">Access our Igala language resources and features programmatically through our API for seamless integration.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}