{% extends 'main.html' %}

{% block content %}

<section class="hero-texts">
    <h1>The Digital Archive of <span class="make-green">Igala Heritage</span></h1>
    <p>Igala language resource with audio pronunciations, <br> usage examples, word variations, <br> translations, documentaries, histories, and a comprehensive dictionary.</p>
    <a href="https://github.com/Dev-Yusuf/project" class="github-link"><i class="fab fa-github"></i> Contribute</a>
 </section>

<section class="parent-features">
    <div class="features-container">
        <h2 class="section-title">Features</h2>
        <div class="feature-cards">
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-book"></i>
                </div>
                <h3 class="feature-title">Dictionary</h3>
                <p class="feature-description">Explore a vast collection of Igala words and their detailed definitions, all at your fingertips.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-volume-up"></i>
                </div>
                <h3 class="feature-title">Pronunciations </h3>
                <p class="feature-description">Listen to authentic audio pronunciations of Igala words to enhance your language skills.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-comment"></i>
                </div>
                <h3 class="feature-title">Usage Examples</h3>
                <p class="feature-description">Understand the context and usage of Igala words through real-world examples and sentences.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-exchange-alt"></i>
                </div>
                <h3 class="feature-title">Variations</h3>
                <p class="feature-description">Discover variations of Igala words, allowing you to explore nuances in meaning and usage.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-language"></i>
                </div>
                <h3 class="feature-title">Translator</h3>
                <p class="feature-description">Effortlessly translate Igala words or phrases into other languages for clear communication.</p>
            </div>
            <div class="feature-card">
                <div class="icon">
                    <i class="fas fa-cogs"></i>
                </div>
                <h3 class="feature-title">API</h3>
                <p class="feature-description">Access our Igala language resources and features programmatically through our API for seamless integration.</p>
            </div>
        </div>
    </div>
</section>

<section class="statistics-section">
    <h1 class="statistics-title">Database Stats ⚡📈</h1>
    <h2 class="related-title">By the Numbers</h2>
    <div class="statistics-container">
        <div class="statistic">
            <p class="stats-digits">{{word_count}}</p>
            <h2>Total Words</h2>
        </div>
        <div class="statistic">
            <p class="stats-digits">{{igala_example_count}}</p>
            <h2>Total Examples</h2>
        </div>
        <div class="statistic">
          <p class="stats-digits">{{pronunciation_count}}</p>
          <h2>Total Audio Pronunciations</h2> 
        </div>
    </div>
</section>

<section class="community-section">
  <h1 class="community-title">Community 🌟</h1>
  <h2 class="related-title">Contributors</h2>
  <div class="contributors-container">
      <!-- Contributor item -->
      <div class="contributor">
          <a href="https://github.com/username1">
              <img src="https://media.licdn.com/dms/image/D4D03AQE8j0beEf2mhw/profile-displayphoto-shrink_800_800/0/1713775420545?e=1721865600&v=beta&t=fQmRPrun_jCTW6qa8SIjm8F308H_NhvUrn8IFd5Um3k" alt="Profile 1" data-username="@username1">
          </a>
      </div>
      <div class="contributor">
        <a href="https://github.com/username1">
            <img src="https://media.licdn.com/dms/image/D4D03AQE8j0beEf2mhw/profile-displayphoto-shrink_800_800/0/1713775420545?e=1721865600&v=beta&t=fQmRPrun_jCTW6qa8SIjm8F308H_NhvUrn8IFd5Um3k" alt="Profile 1" data-username="@username1">
        </a>
    </div>
    <div class="contributor">
      <a href="https://github.com/username1">
          <img src="https://media.licdn.com/dms/image/D4D03AQE8j0beEf2mhw/profile-displayphoto-shrink_800_800/0/1713775420545?e=1721865600&v=beta&t=fQmRPrun_jCTW6qa8SIjm8F308H_NhvUrn8IFd5Um3k" alt="Profile 1" data-username="@username1">
      </a>
  </div>
  <div class="contributor">
    <a href="https://github.com/username1">
        <img src="https://media.licdn.com/dms/image/D4D03AQE8j0beEf2mhw/profile-displayphoto-shrink_800_800/0/1713775420545?e=1721865600&v=beta&t=fQmRPrun_jCTW6qa8SIjm8F308H_NhvUrn8IFd5Um3k" alt="Profile 1" data-username="@username1">
    </a>
</div>
      <!-- Repeat the contributor item for each contributor -->
  </div>
  <div class="community-stats">
      <div class="statistic">
          <p class="stats-digits">{{community_stats.github_stars}}</p>
          <h2>GitHub Stars</h2>
      </div>
      <div class="statistic">
        <p class="stats-digits">{{community_stats.whatsapp_members}}+</p>
        <h2>What'sApp Community</h2>
      </div>
  </div>
</section>


<section class="pioneer-section">
<h1 class="pioneer-title">Pioneers 🚀</h1>
<h2 class="related-title">Early adopters</h2>
<div class="pioneers-container">
  <!-- Pioneer item -->
  <div class="pioneer">
    <a href="#" class="pioneer-link" title="Pioneer 1">
      <img src="assets/images/profile.jpg" alt="Pioneer 1" data-pioneer="@pioneer1">
    </a>
  </div>
  <div class="pioneer">
    <a href="#" class="pioneer-link" title="Pioneer 2">
      <img src="assets/images/profile.jpg" alt="Pioneer 2" data-pioneer="@pioneer2">
    </a>
  </div>
  <div class="pioneer">
    <a href="#" class="pioneer-link" title="Pioneer 3">
      <img src="assets/images/profile.jpg" alt="Pioneer 3" data-pioneer="@pioneer3">
    </a>
  </div>
  <div class="pioneer">
    <a href="#" class="pioneer-link" title="Pioneer 4">
      <img src="assets/images/avologo2.png" alt="Pioneer 4" data-pioneer="@pioneer4">
    </a>
  </div>
  <!-- Repeat the pioneer item for each pioneer -->
</div>
</section>

{% include "footer.html" %}

{% endblock content %}